.login-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    width: 350px;
    height: 350px;
    box-shadow: none;
}

.login-card mat-card-content {
    margin-top: 2em;
}

.login-card form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.login-card form mat-form-field, .login-card form .login-failed  {
    width: 90%;
}

.login-card form .form-actions {
    margin-top: 3em;
}

.login-card form .login-failed {
    color: red;
    text-align: left;
}