<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="logout()">Sing out</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="home-container">
  <section>
    <h3>Programming Languages</h3>
    <ul>
      <li *ngFor="let pl of programmingLangs | async">
        <mat-card>{{pl.name}}</mat-card>
      </li>
    </ul>
    <mat-spinner *ngIf="!(programmingLangs | async)" [color]="'primary'" [diameter]="'30'" [mode]="'indeterminate'" [value]="'20'">
    </mat-spinner>
  </section>

  <section>
    <h3>Operative Systems</h3>
    <ul>
      <li *ngFor="let os of oss | async">
        <mat-card>{{os.name}}</mat-card>
      </li>
    </ul>
    <mat-spinner *ngIf="!(oss | async)" [color]="'primary'" [diameter]="'30'" [mode]="'indeterminate'" [value]="'20'">
    </mat-spinner>
  </section>
</div>