<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="logout()">Sing out</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="home-container">
  <section>
    <h3>Programming Languages</h3>
    <div *ngIf="programmingLangs$ | async as programmingLangs; else spinner">
        <mat-card *ngFor="let pl of programmingLangs">{{pl.name}}</mat-card>
    </div>
  </section>

  <section>
    <h3>Operative Systems</h3>
    <div *ngIf="oss$ | async as oss; else spinner">
        <mat-card *ngFor="let os of oss">{{os.name}}</mat-card>
    </div>
  </section>
</div>

<ng-template #spinner>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>