<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button (click)="logout()">Sing out</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="home-container">
  <section>
    <h3>Programming Languages</h3>
    <div *ngIf="programmingLangs$ | async as programmingLangs">
      <ul>
        <li *ngFor="let pl of programmingLangs">
          <mat-card>{{pl.name}}</mat-card>
        </li>
      </ul>
      <mat-spinner *ngIf="!programmingLangs" [color]="'primary'" [diameter]="'30'" [mode]="'indeterminate'"
        [value]="'20'">
      </mat-spinner>
    </div>
  </section>

  <section>
    <h3>Operative Systems</h3>
    <div *ngIf="oss$ | async as oss">
      <ul>
        <li *ngFor="let os of oss">
          <mat-card>{{os.name}}</mat-card>
        </li>
      </ul>
      <mat-spinner *ngIf="!oss" [color]="'primary'" [diameter]="'30'" [mode]="'indeterminate'" [value]="'20'">
      </mat-spinner>
    </div>
  </section>
</div>
